{%load static%}
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/admindata.css' %}">
    <script src="{%static 'js/admin.js' %}"></script>

    <title>IABC PHILIPPINES</title>
    <link rel = "icon" href="{%static 'img/logo.png' %}" type = "image/x-icon">
    <style>
    #addbtn {
        background-color: #2a7221;
        color: #ffffff;
        border: #2a7221;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        height: 30px;
        cursor: pointer;
        font-size: 14px;
    }

    #addbtn:hover{
        background-color: transparent;
        color: #2a7221;
        border: 1px solid;
        border-color: #2a7221;
    }

    #deletebtn1 {
        background-color: transparent;
        border: none;
        color: red;
        cursor: pointer;
        font-size: 12px;
    }

    #deletebtn1:hover {
        background-color: transparent;
        color: red;
    }
    #head3 {
        letter-spacing: 1px;
        font-size: 12px;
        color: #ffffff;
    }
    #remarks2 {
        width: 730px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 8px;
        color:#6e6e6e;
        text-indent: 2px;
        font-size: 14px;
    }

    #remarks2:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid  #2a7221;
        outline-width: 0;
    }

    .gen {
          width: 70px;
          height: 28px;
          border: 1px solid #2a7221;
          background: #2a7221;
          text-align: center;
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
          font-size: 13px;
      }

      .gen1 {
          width: 80px;
          height: 22px;
          margin-left: 170px;
          border: 1px solid #2a7221;
          background: #2a7221;
          text-align: center;
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
          font-size: 13px;
      }

      .chk{
          width: 13px;
          height: 13px;
      }

      .chk:checked{
          background-color: #2a7221;
          border-color: #2a7221;
          box-shadow: none;
      }

      .chk:focus {
          -moz-box-shadow: none !important;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          border: 1px solid  #2a7221;
          outline-width: 0;
      }

      .container-fluid1{
          padding-top: 40px;
      }

      .thheading{
          font-size: 10px;
          text-align: center;
          padding: auto;
      }
</style>
</head>

<body>
    <!--<nav class="nav justify-content-end">
    <a class="nav-link" href="{% url 'members:logout' %}">LOGOUT</a>
  </nav>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand " style="margin-left: 120px;" href="{% url 'members:home' %}">
            <img src="{%static 'img/logo1.png' %}" height="80" width="300">
        </a>
        <nav class="stroke" style="margin-right: 120px;">
          <ul>
            {% if info.is_admin == True %}
            <li><a href="{% url 'IABC_WEB:admember' %}">Members</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin or info.is_staff == True %}
            <li><a href="{% url 'IABC_WEB:awardspaid' %}">PhilQuill Entries</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin == True %}
            <li><a href="{%url 'IABC_WEB:admintransachistory' %}">Transaction History</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin or info.is_staff == True %}
                
            <li class="dropdown"><a href="#">Events<ion-icon name="caret-down-outline"></ion-icon></a>
                <ul class="dropdown-content"> 
                    {% if info.is_admin == True %}
                  <li><a href="{% url 'IABC_WEB:view_bidders' %}">Bidders</a></li>
                  {% else %}
                <li></li>
                {% endif %}
                  <li><a href="{% url 'IABC_WEB:viewproj_track' %}">Project Tracker</a></li>
                </ul>
            </li>
            {% else %}
                <li></li>
            {% endif %}
            {% if info.is_admin or info.is_staff == True %}
            <li class="dropdown"><a href="#"><img src="{%static 'img/gear-solid.svg' %}" height="20" width="20"></a>
              <ul class="dropdown-content2" style="right: 0px; width: 200px;">
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:act_list' %}">Activity CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:awardscrud' %}">Awards CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:chartA' %}">Charts CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin == True %}
                <li><a href="{% url 'IABC_WEB:price' %}">Product Prices CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin == True %}
                <li><a href="{% url 'bidder_register' %}">Create Bidders Account</a></li>
                <li><a href="{% url 'staff_register' %}">Create Staffs Account</a></li>
                {% else %}
                <li></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <li class="dropdown"><a href="{% url 'members:logout' %}"><img src="{%static 'img/logout.svg' %}" height="20" width="20"></a></li>
          </ul>
        </nav>
    </div>
  </nav>
    
    <div class="container-fluid1 justify-content-end">
        <div>
            <h2><strong>AWARDS ENTRIES</strong></h2>
            <p style="border-style: solid; width: 100px; color: #2a7221;">
        </div>
        
        <div class="row home justify-content-between mt-5">
          <div class="col-sm-12 col-md-3 col-lg-3">
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:awardspaid' %}" role="button"><i class="fa fa-user-check"></i>&nbsp;&nbsp;Paid Entries</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:awardspending' %}" role="button"><i class="fa fa-user-clock"></i>&nbsp;&nbsp;Pending Entries</a><br>
            <a class="btn btn-primary mb-3" href="{%url 'IABC_WEB:winnersCat2' %}" role="button"><i class="fa fa-trophy"></i>&nbsp;&nbsp;Professional Winners</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:winnersCat' %}" role="button"><i class="fa fa-trophy"></i>&nbsp;&nbsp;Student Winners</a><br>
            
            <b>Filtering </b><div class="fst-italic" style="display: inline-block; font-size: 12px;">(For displaying only)</div>
                    
            <form method="POST" action="{% url 'IABC_WEB:winnersprofgen' %}">{%csrf_token%}
              <select id="remarks2" name="prop" >
                <option value="All">All</option>
                <option value="Today">Today</option>
                <option value="Last 7 Days">Last 7 Days</option>
                <option value="Last 30 Days">Last 30 Days</option>
              </select><br>
            
              <input class="form-check-input chk"  type="checkbox" value="Division" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">Division</label>&emsp;&emsp;&emsp;
            
              <input class="form-check-input chk"  type="checkbox" value="Category" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">Category</label><br>
            
              <input class="form-check-input chk"  type="checkbox" value="Entry Date" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">Entry Date</label>&emsp;&nbsp;&nbsp;
              
              <input class="form-check-input chk"  type="checkbox" value="Entry Date" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">Win Date</label><br>
              
              <input class="form-check-input chk"  type="checkbox" value="Entry Type" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">Entry Type</label>&emsp;&nbsp;&nbsp;
              
              <input class="form-check-input chk"  type="checkbox" value="Comp" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">Company Name</label><br> 

              <input class="form-check-input chk"  type="checkbox" value="If Member" name="checkk" id="flexCheckDefault"  >
              <label class="form-check-label fs-6" for="flexCheckDefault">If Member</label><br>
                

              <button type="submit" class="gen1">
                <i class="fa fa-file-lines"></i>&emsp;Filter
              </button>
          </div>
        </form>

          <div class="col-sm-12 col-md-8 col-lg-8 align-self-end">
            <div>
              <form method="POST" action="{%url 'IABC_WEB:profwinners_pdf' %}">{%csrf_token%}
                   <select id="remarks2" name="filter">
                     <option selected value="All">All</option>
                     <option selected value="Today">Today</option>
                     <option selected value="7">Past 7 days</option>
                     <option selected value="30">Past 30 days</option>
                   </select>
                   <button type="submit" formtarget="_blank" class="gen">
                     <i class="fa fa-file-lines"></i>
                   </button>
                 </form>
               </div>
               <br>
            
          <div class="row justify-content-between">
              <section>
                  <div class="tbl-header" >
                    <table cellpadding="0" cellspacing="0" border="0">
                      <thead>
                        <tr>
                          <th width="5%"></th>
                          <th width="5%" class="thheading">Entry No.</th>
                          <th class="thheading" width="10%">Name</th>
                          {% if awn == True %} 
                          <th class="thheading" width="10%">Entry Name</th>
                          {% endif %}
                          {% if awd == True %} 
                          <th class="thheading" width="10%">Division</th>
                          {% endif %}
                          {% if awc == True %} 
                          <th class="thheading" width="10%">Category</th>
                          {% endif %}
                          {% if awdt == True %} 
                          <th class="thheading" width="10%">Entry Date</th>
                          {% endif %}
                          {% if aww == True %} 
                          <th class="thheading" width="10%">Win Date</th>
                          {% endif %}
                          {% if awcm == True %} 
                          <th class="thheading" width="10%">Company Name</th>
                          {% endif %}
                          {% if awe == True %} 
                          <th class="thheading" width="10%">Entry Type</th>
                          {% endif %}
                          {% if awf == True %} 
                          <th class="thheading" width="10%">Membership</th>
                          {% endif %}
                        </tr>
                      </thead>
                    </table>
                  </div>
                
                  <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                        <tr>
                        {% if text %}
                          {% for t in text %}
                          <form action="{% url 'IABC_WEB:awardspaid_del' t.id %}"  method="POST" enctype="multipart/form-data"> {% csrf_token %}
                              <td width="5%"><button type="submit" name="awardstud" class="btndelete" ><i class="fa fa-trash"></i></button></td>
                      
                            
                              <td width="5%">{{ t.entryNo }}</td>
                              <td class="tdcell" width="10%">{{ t.entryName }}</td>
                              {% if awn == True %} 
                              <td width="10%">{{ t.entrantName }}</td>
                              {% endif %}
                              {% if awd == True %} 
                              <td width="10%">{{ t.entryDiv }}</td>
                              {% endif %}
                              {% if awc == True %} 
                              <td width="10%">{{ t.entryCat }}</td>
                              {% endif %}
                              {% if awdt == True %} 
                              <td width="10%">{{ t.entryDate }}</td>
                              {% endif %}
                              {% if aww == True %} 
                              <td width="10%">{{ t.windate }}</td>
                              {% endif %}
                              {% if awcm == True %} 
                              <td width="10%">{{ t.entryComp }}</td>
                              {% endif %}
                              {% if awe == True %}
                              <td width="10%"class="fst-italic">Student</td>
                              {% endif %}
                              {% if awf == True %}
                              <td width="10%"class="fst-italic">Not a Member</td>
                              {% endif %}
                            
                        </form>
                        </tr>
                        {% endfor %}
                
                        
                        {% else %}
                          <tr>
                            <td width="100%"class="fst-italic">No entries Yet</td>
                          </tr>
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
    
                </section>
              </div>
          </div>
      </div>


    <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    </script>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>