
{% load static %} 
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminview.css' %}">
    <script src="{% static 'js/admin.js' %}"></script>

    <title>IABC PHILIPPINES</title>
    <link rel = "icon" href="{% static 'img/logo.png' %}" type = "image/x-icon">

    <style>
      #remarks {
          width: 160px;
          height: 30px;
          border: 1px solid #ccc;
          border-radius: 8px;
          color:#6e6e6e;
          text-indent: 2px;
          font-size: 14px;
      }

      #remarks:focus {
          -moz-box-shadow: none !important;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          border: 1px solid  #2a7221;
          outline-width: 0;
      }
    </style>
</head>
<body>
    <!--<nav class="nav justify-content-end">
    <a class="nav-link" href="{% url 'members:logout' %}">LOGOUT</a>
  </nav>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand " style="margin-left: 120px;" href="{% url 'members:home' %}">
            <img src="{%static 'img/logo1.png' %}" height="80" width="300">
        </a>
        <nav class="stroke" style="margin-right: 120px;">
          <ul>
            <li><a href="{% url 'IABC_WEB:admember' %}">Members</a></li>
            <li><a href="{% url 'IABC_WEB:awardspaid' %}">PhilQuill Entries</a></li>
            <li><a href="{%url 'IABC_WEB:admintransachistory' %}">Transaction History</a></li>
            <li class="dropdown"><a href="#">Events<ion-icon name="caret-down-outline"></ion-icon></a>
                <ul class="dropdown-content"> 
                  <li><a href="{% url 'IABC_WEB:view_bidders' %}">Bidders</a></li>
                  <li><a href="{% url 'IABC_WEB:viewproj_track' %}">Project Tracker</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#"><img src="{%static 'img/gear-solid.svg' %}" height="20" width="20"></a>
              <ul class="dropdown-content2" style="right: 0px; width: 200px;">
                <li><a href="{% url 'IABC_WEB:act_list' %}">Activity CRUD</a></li>
                <li><a href="{% url 'IABC_WEB:awardscrud' %}">Awards CRUD</a></li>
                <li><a href="{% url 'IABC_WEB:chartA' %}">Charts CRUD</a></li>
                <li><a href="{% url 'IABC_WEB:price' %}">Product Prices CRUD</a></li>
                <li><a href="{% url 'bidder_register' %}">Create Bidders Account</a></li>
                <li><a href="{% url 'staff_register' %}">Create Staffs Account</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="{% url 'members:logout' %}"><img src="{%static 'img/logout.svg' %}" height="20" width="20"></a></li>
          </ul>
        </nav>
    </div>
  </nav>
  
    <div class="container-fluid1 justify-content-end">
      <div>
        <h2><strong>PENDING MEMBER'S DATABASE</strong></h2>
        <p style="border-style: solid; width: 100px; color: #2a7221;">
      </div>

      <div class="row home justify-content-between mt-5">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:admember' %}" role="button"><i class="fa fa-user-check"></i>&nbsp;&nbsp;Members</a><br>
            <a class="btn btn-primary mb-3" href="{% url 'IABC_WEB:pendmember' %}" role="button"><i class="fa fa-user-clock"></i>&nbsp;&nbsp;Pending Members</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:nonmember' %}" role="button"><i class="fa fa-user-minus"></i>&nbsp;&nbsp;Non-Members</a><br>
            <a class="btn btn1" href="{% url 'IABC_WEB:adrenewal' %}" role="button"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Renewal</a>
        </div>
      
        <div class="col-sm-12 col-md-8 col-lg-8 align-self-start">
            <div>
              <a href="{% url 'IABC_WEB:pendmember'  %}" class="btnback px-0 mb-3" style="text-decoration: none;"><i class="fa fa-caret-left"></i>&nbsp;&nbsp;Back</a>
            </div>
            {% if viewpendmember %}
              <div class="row scroll">
                  <div class="col-md-1 px-0">
                      <img src="{% static 'img/circle-user.svg' %}" height="50px" width="50px">
                  </div>
                  <div class="col-md-7 px-o">
                      <b>{{ viewpendmember.user_id.firstName }} {{ viewpendmember.user_id.middleName }} {{ viewpendmember.user_id.lastName }} </b><br>
                      {{ viewpendmember.user_id.email }}<br>
                      <div class="mb-3" style="font-size: 14px;">
                      Membership Expiry:<b> {{ viewpendmember.expiry_date }}</b>
                      </div> 
                  </div>
                  
                  
                  <hr>

                  <div class="mt-0">
                    <table>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Remarks</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">
                          <form method="POST" action="{% url 'IABC_WEB:editpendmember' viewpendmember.id %}">{%csrf_token%}
                            <select class="select form-select justify-content-end" id="remarks" name="remarks">
                              <option selected value="None">Remarks</option>
                              <option value="1">Paid</option>
                              <option value="2">Pending</option>
                            </select></td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">
                            <button class="btn btn2" type="submit">Save</button>
                          </td>
                        </form>
                      </tr>
                      <tr>
                        <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"><br></td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"><br></td>
                      </tr>
                     
                      {% if check %}
                      <tr >
                        {% for c in check %}
                        <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Contact Person</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{c.cperson}}</a></td>
                      </tr>
                      <tr >
                        <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Contact Number</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{c.cnum}}</a></td>
                      </tr>
                      <tr >
                        <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Pick-up Location</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{c.address}}</a></td>
                      </tr>
                      {% endfor %}
                      {%else%}
                      <tr >
                        <td style="text-align: right; width: 200; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Proof of Payment</td>
                        {%if viewpendmember.file%}
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"><a class="btn btn2" href="{{viewpendmember.file.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Proof of Payment</a></td>
                        {%else%}
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"><a class="btn btn2" ><i class="fa fa-file-arrow-down"></i> No File </a></td>
                        {%endif%}
                      </tr>
                      {% endif %}
                    </table>

                    <br>

                    <table>
                        <b>I. Member's Information</b>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Nickname:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.nick_name }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Designation:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.designation }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Company Name:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.company_name }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Company Address:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.floor_no }} {{ viewpendmember.building_no }} {{ viewpendmember.street }} {{ viewpendmember.baranggay }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Province:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.city }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">ZIP Code:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.postal_zip }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Mobile No.:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.mobile_no }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Telephone No.:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.telephone_no }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Fax No.:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.fax_no }}</td>
                        </tr>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Birthday:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{ viewpendmember.birthday }}</td>
                        </tr>
                    </table>

                        <br>

                    <table>
                        <b>II. Committee</b>
                        <tr>
                          <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Committees:</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">
                            {% if viewpendmember.membership == True %} 
                              Membership,
                            {% endif %}
                            {% if viewpendmember.ceo_excel == True %} 
                              Ceo Excel, 
                            {% endif %}
                            {% if viewpendmember.regional_conf == True %} 
                              Regional Conference, 
                            {% endif %}                 
                            {% if viewpendmember.media_relations == True %} 
                              Media Relations & Publicity,
                            {% endif %}
                            {% if viewpendmember.digital_comm == True %} 
                              Digital Communications,
                            {% endif %}
                            {% if viewpendmember.phil_quill == True %} 
                              Philippine Quill Awards, 
                            {% endif %}
                            {% if viewpendmember.publication == True %} 
                              Publications,
                            {% endif %}
                            {% if viewpendmember.sponsorship == True %} 
                              Sponsorship
                            {% endif %}
                          </td>
                        </tr>
                    </table>

                    <br>

                    <table>
                      <b>III. Demographic Information</b>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Year began in communication profession:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.question_1 }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Self-employed?</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.question_2 }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Industry:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.industry_Name }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Type of Business:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.business_type }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Current Title:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.current_title }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Key Area of Responsibility:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.key_area}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Number of Employees in your organization / company:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.employee_no }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Greatest amount of experience:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.experience}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Interest in learning more:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.interest }}</td>
                      </tr>
                      <tr>
                        <td style="text-align: right; width: 200px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">How did you hear about IABC:</td>
                        <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{viewpendmember.about }}</td>
                      </tr>
                  </table>

                  <br>

                    <table>
                      <b>IV. Willing to share your contact information to other IABC members? </b>{% if viewpendmember.share_contact == True %} Yes 
                      {% elif viewpendmember.share_contact == False %} No
                      {% endif %}
                      <br><br>
                      <b>IV. Willing to share your contact information to other IABC members? </b>{% if viewpendmember.share_contact == True %} Yes 
                      {% elif viewpendmember.share_contact == False %} No
                      {% endif %}
                      <br><br>
                      <b>V. Willing to receive announcements/promotions from fellow IABC member? </b>{% if viewpendmember.receive_announce == True %} Yes 
                      {% elif viewpendmember.receive_announce == False %} No
                      {% endif %}
                      <br><br>
                      <b>VI. Attached profile photo. </b>
                      {% if viewpendmember.profile_photo %}
                      <a class="btn btn2" href="{{viewpendmember.profile_photo.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Picture</a>
                      {% else %}
                      <a class="btn btn2"><i class="fa fa-file-arrow-down"></i> No File</a>
                      {% endif %}
                  </table>


              </div>

                  
          </div>
         
          {% endif %}
        </div>
      </div>
    </div>

    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>