{%load static %}
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/admindata.css' %}">
    <script src="js/admin.js"></script>

    <title>IABC PHILIPPINES</title>
    <link rel = "icon" href="{% static 'img/logo.png' %}" type = "image/x-icon">
</head>
<body>
    <!--<nav class="nav justify-content-end">
    <a class="nav-link" href="{% url 'members:logout' %}">LOGOUT</a>
  </nav>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand " style="margin-left: 120px;" href="{% url 'members:home' %}">
            <img src="{%static 'img/logo1.png' %}" height="80" width="300">
        </a>
        <nav class="stroke" style="margin-right: 120px;">
          <ul>
            {% if info.is_admin == True %}
            <li><a href="{% url 'IABC_WEB:admember' %}">Members</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin or info.is_staff == True %}
            <li><a href="{% url 'IABC_WEB:awardspaid' %}">PhilQuill Entries</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin == True %}
            <li><a href="{%url 'IABC_WEB:admintransachistory' %}">Transaction History</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin or info.is_staff == True %}
                
            <li class="dropdown"><a href="#">Events<ion-icon name="caret-down-outline"></ion-icon></a>
                <ul class="dropdown-content"> 
                    {% if info.is_admin == True %}
                  <li><a href="{% url 'IABC_WEB:view_bidders' %}">Bidders</a></li>
                  {% else %}
                <li></li>
                {% endif %}
                  <li><a href="{% url 'IABC_WEB:viewproj_track' %}">Project Tracker</a></li>
                </ul>
            </li>
            {% else %}
                <li></li>
            {% endif %}
            {% if info.is_admin or info.is_staff == True %}
            <li class="dropdown"><a href="#"><img src="{%static 'img/gear-solid.svg' %}" height="20" width="20"></a>
              <ul class="dropdown-content2" style="right: 0px; width: 200px;">
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:act_list' %}">Activity CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:awardscrud' %}">Awards CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:chartA' %}">Charts CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin == True %}
                <li><a href="{% url 'IABC_WEB:price' %}">Product Prices CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin == True %}
                <li><a href="{% url 'bidder_register' %}">Create Bidders Account</a></li>
                <li><a href="{% url 'staff_register' %}">Create Staffs Account</a></li>
                {% else %}
                <li></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <li class="dropdown"><a href="{% url 'members:logout' %}"><img src="{%static 'img/logout.svg' %}" height="20" width="20"></a></li>
          </ul>
        </nav>
    </div>
  </nav>
    
    <div class="container-fluid1 justify-content-end">
        <div>
            <h2><strong>Awards | Divisions</strong></h2>
            <p style="border-style: solid; width: 138px; color: #2a7221;">
        </div>
        
        <div class="row home justify-content-between mt-5">
          <div class="col-sm-12 col-md-3 col-lg-3">
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:awardscrud' %}" role="button"><i class="fa fa-pen"></i>&nbsp;&nbsp;CRUD</a><br>
            <a class="btn btn-primary mb-3" href="{% url 'IABC_WEB:division' %}" role="button"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;Division</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:category' %}" role="button"><i class="fa fa-user-tie"></i>&nbsp;&nbsp;Category</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:certification' %}" role="button"><i class="fa fa-stamp"></i>&nbsp;&nbsp;Certification</a><br>
          </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="wrap">
                  <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search">
                    <button type="submit" class="searchButton">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div> 
                <div class="row justify-content-between">
                  <section>
                      <div class="tbl-header" >
                        <table cellpadding="0" cellspacing="0" border="0">
                          <thead>
                            <tr>
                              <th width="5%"></th>
                              <th width="14%" class="thheading">No.</th>
                              <th class="thheading">Division</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                      <div class="tbl-content">
                        <table id="myTable" cellpadding="0" cellspacing="0" border="0">
                          <tbody>
                            {% if div %}
                            {%for i in div%}
                            <tr>
                              <td width="5%"><a href="{% url 'IABC_WEB:div_del' i.id %}" ><button class="btndelete" onclick="deleteRow(this)"><i class="fa fa-trash"></i></button></a></td>
                              <td width="14%">{{i.id}}</td>
                              <td class="tdcell">{{i.division}}</td>
                            </tr>
                            {%endfor%}
                            {%endif%}
                          </tbody>
                        </table>
                      </div>
                  </section>
                </div>  
            </div>
        </div>
    </div>
    <br>

    <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    </script>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>