{% load static %} 
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/adminview.css' %}">
    <script src="{%static 'js/admin.js' %}"></script>

    <title>IABC PHILIPPINES</title>
    <link rel = "icon" href="{%static 'img/logo.png' %}" type = "image/x-icon">
</head>
<body>
    <!--<nav class="nav justify-content-end">
    <a class="nav-link" href="{% url 'members:logout' %}">LOGOUT</a>
  </nav>-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand " style="margin-left: 120px;" href="{% url 'members:home' %}">
            <img src="{%static 'img/logo1.png' %}" height="80" width="300">
        </a>
        <nav class="stroke" style="margin-right: 120px;">
          <ul>
            {% if info.is_admin == True %}
            <li><a href="{% url 'IABC_WEB:admember' %}">Members</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin or info.is_staff == True %}
            <li><a href="{% url 'IABC_WEB:awardspaid' %}">PhilQuill Entries</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin == True %}
            <li><a href="{%url 'IABC_WEB:admintransachistory' %}">Transaction History</a></li>
            {% else %}
                <li></li>
                {% endif %}
            {% if info.is_admin or info.is_staff == True %}
                
            <li class="dropdown"><a href="#">Events<ion-icon name="caret-down-outline"></ion-icon></a>
                <ul class="dropdown-content"> 
                    {% if info.is_admin == True %}
                  <li><a href="{% url 'IABC_WEB:view_bidders' %}">Bidders</a></li>
                  {% else %}
                <li></li>
                {% endif %}
                  <li><a href="{% url 'IABC_WEB:viewproj_track' %}">Project Tracker</a></li>
                </ul>
            </li>
            {% else %}
                <li></li>
            {% endif %}
            {% if info.is_admin or info.is_staff == True %}
            <li class="dropdown"><a href="#"><img src="{%static 'img/gear-solid.svg' %}" height="20" width="20"></a>
              <ul class="dropdown-content2" style="right: 0px; width: 200px;">
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:act_list' %}">Activity CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:awardscrud' %}">Awards CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin or info.is_staff == True %}
                <li><a href="{% url 'IABC_WEB:chartA' %}">Charts CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin == True %}
                <li><a href="{% url 'IABC_WEB:price' %}">Product Prices CRUD</a></li>
                {% else %}
                <li></li>
                {% endif %}
                {% if info.is_admin == True %}
                <li><a href="{% url 'bidder_register' %}">Create Bidders Account</a></li>
                <li><a href="{% url 'staff_register' %}">Create Staffs Account</a></li>
                {% else %}
                <li></li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
            <li class="dropdown"><a href="{% url 'members:logout' %}"><img src="{%static 'img/logout.svg' %}" height="20" width="20"></a></li>
          </ul>
        </nav>
    </div>
  </nav>
    
    <div class="container-fluid1 justify-content-end">
        <div>
            <h2><strong>AWARDS ENTRIES</strong></h2>
            <p style="border-style: solid; width: 100px; color: #2a7221;">
        </div>
        
        <div class="row home justify-content-between mt-5">
          <div class="col-sm-12 col-md-3 col-lg-3">
            <a class="btn btn-primary mb-3" href="{% url 'IABC_WEB:awardspaid' %}" role="button"><i class="fa fa-user-check"></i>&nbsp;&nbsp;Paid Entries</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:awardspending' %}" role="button"><i class="fa fa-user-clock"></i>&nbsp;&nbsp;Pending Entries</a><br>
            <a class="btn btn1 mb-3" href="{%url 'IABC_WEB:winnersCat2' %}" role="button"><i class="fa fa-trophy"></i>&nbsp;&nbsp;Professional Winners</a><br>
            <a class="btn btn1 mb-3" href="{% url 'IABC_WEB:winnersCat' %}" role="button"><i class="fa fa-trophy"></i>&nbsp;&nbsp;Student Winners</a><br>
          </div>

            <div class="col-sm-12 col-md-8 col-lg-8 align-self-start">
              <div>
                <button class="btnback px-0 mb-3" onclick="history.back()"><i class="fa fa-caret-left"></i>&nbsp;&nbsp;Back</button>
              </div>
              
              <div class="row scroll">
                  <div class="col-md-1 px-0">
                      <img src="{%static 'img/circle-user.svg' %}" height="50px" width="50px">
                  </div>
                  <div class="col-md-7 px-0">
                    {%if award%}
                      <b>{{award.entry_title}}</b><br>
                      {{award.entrant_name}}<br>
                    {%endif%}
                  </div>
                  <div class=" row col-md-4 px-0 mb-4"></div>
                  <br><br><br>
                  <hr>
    
                  <div class="mt-0">
                    
                    <!--Student-->
                    <table>
                      {%if award%}
                        <tr>
                          <td style="text-align: right; width: 180px; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Entry Title</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.entry_title}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right;  font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Entry Date</td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"> {{award.entry_date}}</td>
                        </tr>
                        {%if award.entry_form%}
                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Entry Form </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"> <a class="btn btn2" href="{{award.entry_form.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Entry Form</a></td>
                        </tr>
                        {%endif%}
                        <tr>
                          <td style="text-align: right;  font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Division </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.division}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right;  font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Category </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.category}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right;  font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Has this been entered before? </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.entered_before}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Certification </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.certtype}}</td>
                        </tr>
                        {%if award.certification_form%}
                        <tr>
                          <td style="text-align: right;  font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Certification File </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;"> <a class="btn btn2" href="{{award.certification_form.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Certification File</a></td>
                        </tr>
                        {%endif%}

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Remarks </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.remarks}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">List of entry file/s </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">
                            {%if award.work_plan%}
                            <a class="btn btn2" href="{{award.work_plan.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Work Plan</a><br><br> 
                            {%endif%}
                            {%if award.work_sample%}
                            <a class="btn btn2" href="{{award.work_sample.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Work Sample</a> <br>
                            {%endif%}
                            {%if award.work_sample2%}
                            <a class="btn btn2" href="{{award.work_sampl2.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Work Sample 2</a> <br>
                            {%endif%}
                            {%if award.work_sample3%}
                            <a class="btn btn2" href="{{award.work_sampl3.url}}" target="_blank"><i class="fa fa-file-arrow-down"></i> Work Sample 3</a>
                            {%endif%}
                            </td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Entrant's Name </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.entrant_name}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Entrant School </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.entrant_school}} </td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Entrant's Degree Program </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.entrant_degree}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Mobile Number </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.mobile_num}}</td>
                        </tr>

                        <tr>
                          <td style="text-align: right; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">Email Address </td>
                          <td style="text-align: left; font-size: 16px; padding-top: 2px; padding-bottom: 2px;">{{award.email_add}}</td>
                        </tr>
                        {%endif%}
                  </table>













                  </div>
              </div>
          </div>
        </div>
    </div>

    <script>
    function deleteRow(r) {
      var i = r.parentNode.parentNode.rowIndex;
      document.getElementById("myTable").deleteRow(i);
    }
    </script>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>