{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="css/users.css">
	
		<title>IABC PHILIPPINES</title>
		<link rel = "icon" href="img/logo.png" type = "image/x-icon">
	</head>
<style>
@page{
		size: 8.31in 11.7in;
		margin: 15mm 20mm 10mm 20mm;
}
body {
  font-size: 130%;
}
</style>
<body>
	{% block content %}
	<table align=center width="700">
		<tr>
			<td width="190" align=left><img src="img/logo1.png" height="80" width="300"></td>
			<td width="320" align=center><p> IABC PHILIPPINES INC. <br>
						No. 136 Yakal St. San Antonio Village Makati City <br>
						City of Makati, NCR, Fourth Disctrict, Philippines<br>
						Tel. nos: 756-0441 or 756-0424 (Telefax)<br>
						Email: iabcphilippinesat30@gmail.com <br>
						Website: www.iabcphilippines.com<br>
						VAT REG TIN 007-559-027-00000</p></td>
		</tr>
		<tr>
			<td colspan=3 align=center><br><strong><h2>E-BILLING STATEMENT</strong><br></td></h2>
		</tr>
	</table>
	
	<br>
	
	
	<hr color="#F8F8F8">
	
	<table align=center width="800" >
		<tr>
			<td width="150" colspan="3"><p>To:{{comp}}</p></td>
		</tr>
	
		<tr>
			<td width="150" colspan="3"><p>Address:{{address}}</p></td>
	
		</tr>
	
		<tr>
			<td width="150">TIN:{{tin}}</td>
			<td colspan="3">Business Name / Style</td>
		</tr>
	
	
		<tr>
			<td width="120"><p>Date:{{dates}}</p></td>
			<td width="120"><p>J.O NO.:</p></td>
			<td width="120"><p>CES NO.</p></td>
	
	
		</tr>
	</table>
	
	
	
	
	
	
	
	<hr> 
	
		<br>
	<table align="center">
		<tr>
			<td width="120" align="center"><p>DESCRIPTION:</p></td>
			<td width="600" align="right"><p>AMOUNT</p></td>
		</tr>
	</table>
	
	<br><br>
	
			<div style= "font-size: 80%";>
			<p>ATTN: {{contp}}</p>
	
			</div>
	<br><br>
	
	
	
		<table align="center">
			<tr>
				<td width="550" align="left"><p>19TH PHILIPPINES QUILL AWARDS</p></td>
				<td width="200" align="right"><p>500.00</p></td>
	
			</tr>
			<tr>
				<td width="550" align="left" colspan="2"><i>ENTRY FEE</i></td>
			</tr>
	
			<tr>
				<td height="20" colspan="2"></td>
			</tr>
	
	
			<tr> 
				<td width="10" colspan="2">(Php 500 regular rate for Student) <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i>VAT-Inclusive</i> </td>
			</tr>
		</table>
	<br><br><br><br><br><br>
	
	
	
				<div style="text-align: center; font-size: 80%";>
					NOTE: Please make check payable to IABC PHILIPPINES, INC.
				</div>
	
	
	
	
	<!--end-->
	
	
	<!--end of table-->
	<br>
	
	{% endblock %}
</body>
</html>