{% load static %} 
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <title>IABC PHILIPPINES</title>
    <link rel = "icon" href="{% static 'img/logo.png' %}" type = "image/x-icon">

    <style>
        ol {
            counter-reset: li; 
            list-style: none; 
            padding: 0;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }
        
        ol a {
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            margin: .5em 0;
            background: #2a7221;
            color: #fff;
            text-decoration: none;
            border-radius: .3em;
            transition: .3s ease-out;
        }
        
        ol a:hover { background: #2a7221; text-decoration: none; color: #fff;}
        ol a:hover:before { transform: rotate(360deg); }
        ol a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #bbdbb7;
            color: black;
            height: 2.5em;
            width: 2.5em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            transition: all .3s ease-out;
        }

        textarea {
            height:100px;
        }

        .media {
            border-top:1px dashed #DDDDDD;
            padding:20px 0;
            margin:0;
        }

        .btn3{
            text-align: center;
            font-size: 14px;
            width: 100px;
            padding-top: 3px;
            padding-bottom: 2px;
            background-color: #2a7221;
            color: #fff;
            border-color: #2a7221;
        }

        .btn3:hover{
            background-color: #fff;
            color: #2a7221;
            border-color: #2a7221;
        }

        .btn3:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid  #2a7221;
            outline-width: 0;
        }

        .foot{
            padding-top: 60px;
            padding-bottom: 60px;
        }

    </style>
</head>
<body>
    <nav class="nav justify-content-end">
        {% if user.is_authenticated %}
        {%if info %}
        <a class="nav-link" href="{% url 'members:logout' %}">LOGOUT</a>
        <font color="white">&nbsp;|&nbsp;</font>
        <div class="dropdown">
            <a class="nav-link" href="{% url 'IABC_WEB:my_account' info.id%}">MY ACCOUNT</a>
        </div>
        {%endif%}
        {%else%}
        <a class="nav-link" href="{% url 'members:login' %}">LOGIN</a>
        <font color="white">&nbsp;|&nbsp;</font>
        <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
        {% endif %}  
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand " style="margin-left: 120px;" href="{%url 'members:home' %}">
                <img src="{% static 'img/logo1.png' %}" height="80" width="300">
            </a>
            <nav class="stroke" style="margin-right: 120px;">
                <ul>
                    <li><a href="{%url 'members:home' %}">Home</a></li>
                    <li><a href="{% url 'IABC_WEB:eventsview' %}">Events</a></li>
                    <li class="dropdown"><a href="#">Membership<ion-icon name="caret-down-outline"></ion-icon></a>
                        <ul class="dropdown-content">
                            <li><a href="{% url 'IABC_WEB:whyiabc' %}">Why IABC</a></li>
                            <li><a href="{% url 'IABC_WEB:membenefits' %}">Membership Benefits</a></li>
                            {% if mem.received_email == True %}
                            <li><a href="{% url 'IABC_WEB:renewform' %}">Renew Membership</a></li>
                            {% else %}
                            <li><a href="{% url 'IABC_WEB:renewform' %}" class="nav-link disabled">Renew Membership</a></li>
                            {%endif%}
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">PhilQuill<ion-icon name="caret-down-outline"></ion-icon></a>
                        {% if user.is_authenticated %}
                        {%if info %}
                        <ul class="dropdown-content">
                            <li><a href="{% url 'IABC_WEB:awardsform' %}">Join Now</a></li>
                            <li><a href="{% url 'IABC_WEB:awardsabout1' %}">About</a></li>
                            <li><a href="{% url 'IABC_WEB:viewwinners' %}">Awards</a></li>
                            <li><a href="{%url 'IABC_WEB:downloadables' %}">Downloadables</a></li>
                        </ul>
                        {%endif%}
                        {%else%}
                        <ul class="dropdown-content">
                            <li><a href="{% url 'IABC_WEB:awardsform' %}" class="nav-link disabled">Join Now</a></li>
                            <li><a href="{% url 'IABC_WEB:awardsabout1' %}">About</a></li>
                            <li><a href="{% url 'IABC_WEB:viewwinners' %}">Awards</a></li>
                            <li><a href="{%url 'IABC_WEB:downloadables' %}">Downloadables</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    {%if info %}
                    <a class="btn btn-success" href="{% url 'IABC_WEB:memberapp' %}" role="button">JOIN</a>
                    {%endif%}
                    {%else%}
                    <a class="btn btn-success" href="{% url 'members:login' %}" role="button">JOIN</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </nav>
    
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="img1" style="filter: opacity(70%); height: 550px;">
                <!--<div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>-->
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="img2" style="filter: opacity(70%); height: 550px;">
                <!--<div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>-->
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="img3" style="filter: opacity(70%); height: 550px;">
                <!--<div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>-->
            </div>
        </div>
    </div>

    <br><br>

    <div class="container-fluid center"> 
        <div style="width: 1000px; margin: auto; text-align: center;">
            Setting a standard of excellence since 1970, the International Association of Business Communicators (IABC) 
            is a vibrant global membership association with thousands of members from around the world.

            <br><br>

            The <b>International Association of Business Communicators Philippines</b> is an association of top business, industrial 
            and organization communicators, and professionals. IABC Philippines is the first country chapter in Asia, since 1983. 
            IABC Philippines is committed to professional growth, learning, and communication.
        </div>
        
        <br><br>

        <h2 style="text-align: center;">
            <p style="border-style: solid; width: 100px; color: #2a7221;"></p>
            <strong>WHO ARE WE AND WHAT WE OFFER?</strong>
            <p style="border-style: solid; width: 100px; color: #2a7221;"></p>
        </h2>

        <br>

        <div class="row" style="width: 1000px; margin: auto; text-align: left;">
            <div class="col-md-5" style="text-align: center;">
                <iframe width="390" height="220" src="https://www.youtube.com/embed/pzox3pAf4zY" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
            <diV class="col-md-7" style="text-align: justify;"><br>
                IABC serves professionals in the field of business communication, bringing together 
                the profession's collective disciplines. We deliver on the Global Standard in 
                communication through our educational offerings, certification, awards program, 
                resource library, online magazine and annual World Conference. We support our community 
                of business communication professionals with innovative thinking, shared best practices,
                in-depth learning and career guidance.
            </diV>
        </div>

        <br><br>

        <hr style="margin:auto; width: 1000px; ">

        <br><br>

        <h2 style="text-align: center;">
            <strong>Career Levels of the Communication Profession</strong>
        </h2>

        <div class="row" style="width: 1000px; margin: auto; text-align: left;">
            <ol>
                <li><a data-bs-toggle="collapse" href="#foundation" role="button" aria-expanded="false" aria-controls="foundation"><b>Foundation</b></a></li>
                <div class="collapse" id="foundation">
                    <div class="card card-body">
                        <ul>
                            <li> When launching their professional career, the communication professional develops initial knowledge, skills, and behaviors, across the Global Standard purpose and principles.</li>
                            <li> The professional contributes under relatively close supervision and direction from a senior person, exercising initiative and creativity within a well-defined area.</li>
                            <li> The professional masters basic tasks and demonstrates competence within a communication strategy or campaign.</li>
                        </ul>                    
                    </div>
                </div>
                <li><a data-bs-toggle="collapse" href="#generalist" role="button" aria-expanded="false" aria-controls="generalist"><b>Generalist / Specialist</b></a></li>
                <div class="collapse" id="generalist">
                    <div class="card card-body">
                        <ul>
                            <li> At this milestone, the communication professional branches into a role with a specific focus (Specialist) or a broad multi-disciplinary focus (Generalist) that provides opportunities for a more strategic approach, applying a deeper understanding of the Global Standard purpose and principles.</li>
                            <li> The Generalist/Specialist leads projects or client engagements independently, developing credibility with stakeholders while building relationships related to areas of interest.</li>
                            <li> Many professionals choose to work in either Generalist or Specialist roles in the same or several organizations throughout their career.</li>
                    </ul>                    
                    </div>
                </div>
                <li><a data-bs-toggle="collapse" href="#strategic" role="button" aria-expanded="false" aria-controls="strategic"><b>Strategic Adviser</b></a></li>
                <div class="collapse" id="strategic">
                    <div class="card card-body">
                        <ul>
                            <li> Through the consistent application of the principles, the Strategic Advisor assumes increased stakeholder responsibilities, project and business management roles, and financial administration. The Strategic Advisor provides strategic communication advice to the organization’s leadership.</li>
                            <li> The work of the Strategic Advisor becomes interdependent, taking responsibility for assignments other than their own and developing other leaders with communications responsibilities within the organization.</li>
                            <li> These professionals have strong leadership skills, broad business perspectives, and diverse expertise, exploring diverse communication techniques within various disciplines.</li> 
                    </ul>                    
                    </div>
                </div>
                <li><a data-bs-toggle="collapse" href="#business" role="button" aria-expanded="false" aria-controls="business"><b>Business Leader</b></a></li>
                <div class="collapse" id="business">
                    <div class="card card-body">
                        <ul>
                            <li> A Business Leader plays a crucial role in shaping the organization’s future by advocating for promising people, programs, and ideas that align with the organization’s direction. They lead the application of the principles within their organization and hold the leadership to account.</li>
                            <li> They have developed competence in several areas and are well-regarded in the profession, often operating in a global, national, or regional role. They effectively represent the organization on critical strategic issues and contribute counsel, coaching and function at a peer level with other senior executives.</li>
                            <li> The Business Leader is adept at identifying new business opportunities, motivating buy-in and gaining resources through a well-articulated and clear strategy. They effectively represent the organization on critical strategic issues.</li>
                    </ul>                    
                    </div>
                </div>
            </ol>
        </div>

        <br><br>

        <hr style="margin:auto; width: 1000px; ">

        <br><br>

        <h2 style="text-align: center;">
            <strong>The Six Principles of the Communication Profession</strong>
        </h2>

        <div class="row" style="width: 1000px; margin: auto; text-align: left;">
            <ol>
                <li><a data-bs-toggle="collapse" href="#ethics" role="button" aria-expanded="false" aria-controls="foundation"><b>ETHICS</b></a></li>
                    <div class="collapse" id="ethics">
                        <div class="card card-body">
                            Communication professionals adopt the highest standards of professional behavior. They are always:
                            <ul>
                                <li> Communicate with sensitivity to cultural values and beliefs.</li>
                                <li> Act without deception and in accordance with the law.</li>
                                <li> Represent the organization truthfully, fairly and accurately.</li>
                                <li> Enable mutual understanding and respect.</li>
                                <li> Adhere to the IABC Code of Ethics for Professional Communicators. each element.</li>
                            </ul>                    
                        </div>
                    </div>
                <li><a data-bs-toggle="collapse" href="#consistency" role="button" aria-expanded="false" aria-controls="consistency"><b>CONSISTENCY</b></a></li>
                    <div class="collapse" id="consistency">
                        <div class="card card-body">
                            Acting as the organization’s voice, a communication professional expresses a single, consistent story 
                            for internal and external audiences.
                            <ul>
                                <li> This narrative is clear and compelling, reflects the input and perspectives of diverse stakeholders, and furthers 
                                    the organization’s mission. A communication professional integrates information and inspiration for this narrative 
                                    from people with diverse perspectives and ensures that communications are culturally appropriate to each audience.</li>
                            </ul>                    
                        </div>
                    </div>
                <li><a data-bs-toggle="collapse" href="#context" role="button" aria-expanded="false" aria-controls="strategic"><b>CONTEXT</b></a></li>
                    <div class="collapse" id="context">
                        <div class="card card-body">
                            The communication professional is sophisticated about the organization’s internal culture and external environment. Deep 
                            familiarity with the organization’s vision and goals and how its elements function together—from accounting to production 
                            to human resources—is crucial to interacting successfully with other leaders of the organization and communicating effectively 
                            about the organization. Advocating successfully for the organization also depends on a thorough understanding of its political,
                            economic, social, technological, environmental and legal context—and of how to interact with representatives of other 
                            organizations.                 
                        </div>
                    </div>
                <li><a data-bs-toggle="collapse" href="#analysis" role="button" aria-expanded="false" aria-controls="analysis"><b>ANALYSIS</b></a></li>
                    <div class="collapse" id="analysis">
                        <div class="card card-body">
                            Communication professionals research and evaluate how to serve and promote the organization most effectively and then offer 
                            recommendations supported by direct and secondary evidence. They develop and implement communication plans and gauge their 
                            results using clear qualitative and quantitative measures that can be duplicated.                 
                        </div>
                    </div>
                <li><a data-bs-toggle="collapse" href="#strategy" role="button" aria-expanded="false" aria-controls="strategy"><b>STRATEGY</b></a></li>
                    <div class="collapse" id="strategy">
                        <div class="card card-body">
                            With rigor and discipline, a communication professional identifies opportunities and challenges both inside and outside of 
                            the organization. Addressing communication challenges and opportunities with a thoughtful strategy allows the organizationto 
                            achieve its mission and goals. The communication professional systematically manages communication activities, making decisions 
                            based on research, analysis, planning and evaluation. The professional also has the flexibility and creativity to adjust to 
                            change inside and outside of the organization.                 
                        </div>
                    </div>
                <li><a data-bs-toggle="collapse" href="#engagement" role="button" aria-expanded="false" aria-controls="engagement"><b>ENGAGEMENT</b></a></li>
                    <div class="collapse" id="engagement">
                        <div class="card card-body">
                            A communication professional identifies and communicates with employees, customers, shareholders, regulators, government 
                            agencies and other groups with an interest in the organization’s activities. All these groups have the potential to change 
                            the organization’s results. So the communication professional fosters and nourishes relationships withthem that will support 
                            the organization’s mission and goals. The communication professional uses dialogue to tell the organization’s story and garner 
                            support.               
                        </div>
                    </div>
            </ol>
        </div>

        <br><br>

        <hr style="margin:auto; width: 1000px; ">

        <br><br>

        <h2 style="text-align: center;">
            <p style="border-style: solid; width: 100px; color: #2a7221;"></p>
            <strong>Feedback and Reviews</strong>
            <p style="border-style: solid; width: 100px; color: #2a7221;"></p>
        </h2>

        <div class="row mt-5" style="margin: auto; width: 800px;">
            <div>   
                <form action="{% url 'IABC_WEB:membcom' %}"  method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-md-6" style="text-align: left; font-size: 18px;"> 
                            New Comment
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            {% if mem.is_paid == True %}
                            <button type="submit" class="btn3">Submit</button>
                            {% else %}
                            
                            {% endif %}
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-md-2"> 
                            <img class="img-responsive" src="{% static 'img/userpp.png' %}" style="width: 105px; height: 100px;">
                        </div>
                        <div class="col-md-10">
                            {% if mem.is_paid == True %}
                            <textarea class="form-control" id="message" placeholder="Your message" name="memcom" required=""></textarea>
                            {% else %}
                            <textarea disabled class="form-control" id="message" placeholder="Your message" required=""></textarea>
                            {% endif %}
                        </div>
                    </div>
                </form>

                <div class="mt-5">
                <h5>Feedback</h5>
                </div> 

                <!-- COMMENT 1 - START -->
                {% if com %}
                    {% for c in com %}
                <div class="media row">
                    <div class="col-md-2"> 
                        <img class="media-object" src="{% static 'img/userpp.png' %}" style="width: 105px; height: 100px;">
                    </div>
                    <div class="col-md-10">
                        <h5><b>{{c.mem_id.user_id.firstName}} {{c.mem_id.user_id.lastName}}</b></h5>
                        {{c.comments}}

                        <br><br>
                        <div style="color: #808080; font-size: 15px;"><i class="fa fa-calendar"></i> {{c.commDate}}</li></div>
                    </div>
                    {% endfor%}
                {% endif %}
                </div>
                <!-- COMMENT 1 - END -->    
            </div>
        </div>
    </div>

    <br><br>
    <div class="elfsight-app-d19ecec0-e3fa-46df-b013-af4d45660f41"></div>
    <nav class="navbar bottom navbar-light bg-light foot">
        <div class="container-fluid row">
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <a class="navbar-brand " style="text-align: left;" href="{%url 'members:home' %}">
                    <img src="{% static 'img/logo1.png' %}" height="80" width="300">
                </a>
                <br><br>
                <small class="ml-4 ml-sm-5 mb-2" style="text-align: left;">Copyright &copy; 2022 | Interntional Association of <br>Business Communicators Philippines Chapter</small>
            </div>
            
            <div class="col-md-4" style="text-align: right;">
                <b>Contact Us:</b><br>
                G/F Burgundy Tower, 252 Sen. Gil J. Puyat Avenue<br>Makati, 1200 Metro Manila<br>
                Email: iabcphilippinesat30@gmail.com<br><br>

                <a href="https://www.facebook.com/iabcph"><img src="{% static 'img/square-facebook-brands.svg' %}" height="30" width="30"></a>
                <a href="https://twitter.com/IABCPH?s=20&t=Ahced7TTZAIxSXggct_gIA"><img src="{% static 'img/square-twitter-brands.svg' %}" height="30" width="30"></a>
                <a href="https://www.instagram.com/iabcph/"><img src="{% static 'img/square-instagram-brands.svg' %}" height="30" width="30"></a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </nav>

    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>

<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>