{%load static%}
<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">

    <title>IABC PHILIPPINES</title>
    <link rel = "icon" href="{% static 'img/logo.png' %}" type = "image/x-icon">

    <style>
        .btnjoin{
            background:  #2a7221;
            color: #fff;
            padding: 13px;
            border-radius: 20%;
            font-size: 90%;
        }

        .btnjoin:hover {
            background-color: #fff;
            border-color: #2a7221;
            color: rgb(42, 114, 33);
        }

        .dropdown-content {
            min-width: 135%;
            font-size: 17px;
        }
        .foot{
            padding-top: 60px;
            padding-bottom: 60px;
        }
    </style>
</head>
<body>
    <nav class="nav justify-content-end">
        {% if user.is_authenticated %}
        {%if info %}
        <a class="nav-link" href="{% url 'members:logout' %}">LOGOUT</a>
        <font color="white">&nbsp;|&nbsp;</font>
        <div class="dropdown">
            <a class="nav-link" href="{% url 'IABC_WEB:my_account' info.id%}">MY ACCOUNT</a>
        </div>
        {%endif%}
        {%else%}
        <a class="nav-link" href="{% url 'members:login' %}">LOGIN</a>
        <font color="white">&nbsp;|&nbsp;</font>
        <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
        {% endif %}  
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand " style="margin-left: 120px;" href="{%url 'members:home' %}">
                <img src="{% static 'img/logo1.png' %}" height="80" width="300">
            </a>
            <nav class="stroke" style="margin-right: 120px;">
                <ul>
                    <li><a href="{%url 'members:home' %}">Home</a></li>
                    <li><a href="{% url 'IABC_WEB:eventsview' %}">Events</a></li>
                    <li class="dropdown"><a href="#">Membership<ion-icon name="caret-down-outline"></ion-icon></a>
                        <ul class="dropdown-content">
                            <li><a href="{% url 'IABC_WEB:whyiabc' %}">Why IABC</a></li>
                            <li><a href="{% url 'IABC_WEB:membenefits' %}">Membership Benefits</a></li>
                            {% if mem.received_email == True %}
                            <li><a href="{% url 'IABC_WEB:renewform' %}">Renew Membership</a></li>
                            {% else %}
                            <li><a href="{% url 'IABC_WEB:renewform' %}" class="nav-link disabled">Renew Membership</a></li>
                            {%endif%}
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">PhilQuill<ion-icon name="caret-down-outline"></ion-icon></a>
                        {% if user.is_authenticated %}
                        {%if info %}
                        <ul class="dropdown-content">
                            <li><a href="{% url 'IABC_WEB:awardsform' %}">Join Now</a></li>
                            <li><a href="{% url 'IABC_WEB:awardsabout1' %}">About</a></li>
                            <li><a href="{% url 'IABC_WEB:viewwinners' %}">Awards</a></li>
                            <li><a href="{%url 'IABC_WEB:downloadables' %}">Downloadables</a></li>
                        </ul>
                        {%endif%}
                        {%else%}
                        <ul class="dropdown-content">
                            <li><a href="{% url 'IABC_WEB:awardsform' %}" class="nav-link disabled">Join Now</a></li>
                            <li><a href="{% url 'IABC_WEB:awardsabout1' %}">About</a></li>
                            <li><a href="{% url 'IABC_WEB:viewwinners' %}">Awards</a></li>
                            <li><a href="{%url 'IABC_WEB:downloadables' %}">Downloadables</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    {%if info %}
                    <a class="btn btnjoin" href="{% url 'IABC_WEB:memberapp' %}" role="button">JOIN</a>
                    {%endif%}
                    {%else%}
                    <a class="btn btnjoin" href="{% url 'members:login' %}" role="button">JOIN</a>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </nav>
    

    <div class="container-fluid1 justify-content-end">
        <div>
          <h2><strong>Why Join IABC?</strong></h2>
          <center><p style="border-style: solid; height:4px; width: 1000px; color: #2a7221;"></p></center>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"style="text-align:center;">Whether you're an in-house communicator, independent consultant, academic 
                or a student, IABC has all the relevant resources, connections and learning opportunities you need to move your 
                career forward.</div>
            <div class="col-md-2"></div>
        </div>

        <br><br>

        <div class="row px-3">
            <div class="row col-md-6">
                <div class="col-md-2"></div>
                <div class="col-md-1"><i class="fa-solid fa-check-double check"></i></div>
                <div class="col-md-7"><h4>Make a bigger impact in your job</h4><br>Tap into hundreds of case studies, articles, webinars and other resources for new ideas, fresh insights and assistance in day-to-day problem-solving.</div>
                <div class="col-md-2"></div>
            </div>
    
            <div class="row col-md-6">
                <div class="col-md-2"></div>
                <div class="col-md-1"><i class="fa-solid fa-check-double check"></i></div>
                <div class="col-md-7"><h4>Learning to stay sharp</h4> <br> Keep growing with discounts on professional development through IABC Academy online courses, the IABC World Conference, the IABC Gold Quill Awards, and with chapter and regional events in your local area.</div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <br><br><br>
        <div class="row px-3">
            <div class="row col-md-6">
                <div class="col-md-2"></div>
                <div class="col-md-1"><i class="fa-solid fa-check-double check"></i></div>
                <div class="col-md-7"><h4>Connections to help you advance</h4><br>Find mentors and tap into a global network of peers for answers to pressing questions through The Hub, a private online community for IABC members only.</div>
                <div class="col-md-2"></div>
            </div>
            <br><br><br>    
            <div class="row col-md-6">
                <div class="col-md-2"></div>
                <div class="col-md-1"><i class="fa-solid fa-check-double check"></i></div>
                <div class="col-md-7"><h4>Content to keep informed</h4> <br>Stay current with Catalyst magazine articles and other content on critical industry topics delivered to your inbox each week.</div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <br><br><br>
        <div class="row px-3">
            <div class="row col-md-6">
                <div class="col-md-2"></div>
                <div class="col-md-1"><i class="fa-solid fa-check-double check"></i></div>
                <div class="col-md-7"><h4>Tools to leverage for results</h4><br>Access critical information when you need it, from an online library that includes award-winning case studies, webinars, podcasts and more.</div>
                <div class="col-md-2"></div>
            </div>
    
            <div class="row col-md-6">
                <div class="col-md-2"></div>
                <div class="col-md-1"><i class="fa-solid fa-check-double check"></i></div>
                <div class="col-md-7"><h4>Credentials to raise your profile</h4> <br>Get discounts on professional certification through the Global Communication Certification Council (GCCC).</div>
                <div class="col-md-2"></div>
            </div>
        </div>
  
    </div>

    <br><br> <br><br>
    <div class="elfsight-app-d19ecec0-e3fa-46df-b013-af4d45660f41"></div>
    <nav class="navbar bottom navbar-light bg-light foot">
        <div class="container-fluid row">
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <a class="navbar-brand " style="text-align: left;" href="{%url 'members:home' %}">
                    <img src="{% static 'img/logo1.png' %}" height="80" width="300">
                </a>
                <br><br>
                <small class="ml-4 ml-sm-5 mb-2" style="text-align: left;">Copyright &copy; 2022 | Interntional Association of <br>Business Communicators Philippines Chapter</small>
            </div>

            <div class="col-md-4" style="text-align: right;">
                <b>Contact Us:</b><br>
                G/F Burgundy Tower, 252 Sen. Gil J. Puyat Avenue<br>Makati, 1200 Metro Manila<br>
                Email: iabcphilippinesat30@gmail.com<br><br>

                <a href="https://www.facebook.com/iabcph"><img src="{% static 'img/square-facebook-brands.svg' %}" height="30" width="30"></a>
                <a href="https://twitter.com/IABCPH?s=20&t=Ahced7TTZAIxSXggct_gIA"><img src="{% static 'img/square-twitter-brands.svg' %}" height="30" width="30"></a>
                <a href="https://www.instagram.com/iabcph/"><img src="{% static 'img/square-instagram-brands.svg' %}" height="30" width="30"></a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </nav>

    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>