html {
    height: 100%;
}

body {
    font-family: 'Josefin Sans';
    min-height: 100%;
    font-size: 17px;
}

.container{
    margin-left: 115px;
    margin-right: 115px;
}

.center p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}
  
/* NAVIGATION */
.navbar{
    width: 100%;
    margin: auto;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(18, 1, 1);
    font-weight: 700;
    font-size: 90%;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #2a7221;
}
  
  
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background:  #2a7221;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}
  
nav.fill ul li a {
    transition: all 2s;
}
  
nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/* top */
.nav{
    background: #2a7221;
    padding: 8px;
}

.nav a{
    color: #fff;
    background:  #2a7221;
    border-radius: 0%;
    display: block;
    font-size: 70%;
}

.nav a:hover {
    background-color: #fff;
    color: #2a7221;
}

.btn{
    background:  #2a7221;
    padding: 13px;
    border-radius: 20%;
    font-size: 90%;
}

.btn:hover {
    background-color: #fff;
    color: rgb(42, 114, 33);
}

  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #f1f1f1;
    min-width: 135%;
    z-index: 2;
    padding: 16px;
    font-size: 17px;
}
  
.dropdown-content a {
    color: black;
    padding: 10px 1px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}


/* for custom scrollbar for webkit browser*/
  
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}